/* General styles */

body {
  font-family:'Caveat';
  background-color: #f4f4f4; /* Light grey background */
}

/* Header styles */
header {
  background-color: #fff; /* White background for the header */
  text-align: center; /* Center the text */
  padding: 1rem 0; /* Add some padding */
  margin-bottom: 1.5rem; /* Space between header and menu items */
}

header h1 {
  color: #333; /* Dark grey color for the title */
}

header p {
  font-style: italic; /* Italicize the slogan */
  color: #49a4ce; /* Light grey color for the slogan */
  margin: 0; /* Remove default margin */
}

header .brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo {
  height: 75px;
  width: auto;
  margin-right: 15px;
}

/* Menu container styles */
.menu {
  display: flex;
  flex-direction: column; /* Stack the menu items vertically */
  padding: 0; /* Remove default padding */
}

/* Card styles for side-by-side layout */
.card {
  flex-direction: row; /* Align children side by side */
  border-radius: 10px; /* Rounded corners for the card */
  margin-bottom: 1rem; /* Space between cards */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  background-color: #fff; /* White background */
}

.card-img-top {
  width: 40%;
  object-fit: cover; /* Cover the area without stretching */
  border-top-left-radius: 10px; /* Rounded top-left corner */
  border-bottom-left-radius: 10px; /* Rounded bottom-left corner */
}

.card-body {
  width: 60%;
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between;
}

.card-title {
  font-weight: bold; /* Make the title bold */
}

.card-price {
  font-weight: bold; /* Make the price bold */
  font-style: italic;
}

/* Styles for the subtotal */
.subtotal {
  text-align: center; /* Center the subtotal text */
  margin-top: 1rem; /* Space between menu items and subtotal */
  padding: 1rem;
  background-color: #fff; /* White background for the subtotal */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  border-radius: 10px; /* Rounded corners for the subtotal */
}

/* Button styles */
.btn-circle {
  width: 40px; /* Fixed width and height to make it circular */
  height: 40px;
  padding: 0; /* Remove padding */
  border-radius: 50%; /* Make it circular */
  font-size: 20px; /* Adjust font size as needed */
  text-align: center; /* Align text horizontally */
}

/* Styles for the bottom buttons */
.order-clear-buttons {
  display: flex;
  justify-content: space-evenly; /* Space out the buttons */
  margin-top: 5px; /* Space from the last menu item or subtotal */
}

/* Styles for the add and remove buttons */
.add-remove-buttons {
  display: flex;
  justify-content: space-evenly;
}